{{! Sidebar items }}

<div class="row sidebar"> 
<div class="small-12 columns">
<h4>About</h4> 
<p> My name is Jason Xu and I am travelling to Utah (Canyons Resort), Colorado (Breckenridge, Keystone, Aspen and Vail Resort), Toronto, Montreal (Mont Tremblant), British Columbia (Whistler) and Lake Tahoe (Squaw Valley, Northstar, Heavenly, and Kirkwood) with two of my friends. This is my photo blog for the trip.</p>
 </div>
 </div>


 